body {
    font-family: 'Gothic A1', sans-serif;
}

#mainTitle {
    font-weight: 800;
}

.introduction {
    font-weight: 800;
}



.listOfDirectors {
    font-weight: 300;
    display: inline-block;
    width: 95%;
}

.listOfDirectors li{
    list-style-type: none;
}

.listOfDirectors li img{
    width: 10%;
    height: 13.5%;
}