body {
    font-family: 'Gothic A1', sans-serif;
    margin: 5%;
    color: #ffffff;
    background-color: #121212;
}

#mainTitle {
    font-weight: 800;
    text-align: center;
    margin: 2em;
}

.introduction {
    font-weight: 500;
    margin: 0 0 0 4.25%;
}

@media only screen and (min-width: 1000px) and (max-width: 1499px){
    .listOfDirectors {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1500px) {
    .listOfDirectors {
        grid-template-columns: repeat(5, 1fr);
    }
}

.listOfDirectors {
    font-weight: 300;
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
}

.listOfDirectors li{
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #7C7C7C;
    transition: 0.5s ease 0s;
}

.listOfDirectors li:hover{
    color: #ffffff;
}

.profilePicture {
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding: 2%;
    background-color: #7C7C7C;
    cursor: pointer;
    transition: 0.5s ease 0s;
    border-radius: 0.25em;
}

.profilePicture:hover {
    width: 100%;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    padding: 2%;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 0.25em;
}