* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navigationBar {
    width: 100% !important;
    padding: 1em 4em;
    margin: 4em 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #7C7C7C;
    border-radius: 0.5em;
}

#currentPage {
    padding-left: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    flex-grow: 15;
}

#navBarList {
    display: flex;
    flex-grow: 1;
}

.navBarButton {
    display: hidden;
}

#navBarItem {
    margin: 0 1em;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1em;
    letter-spacing: 0.2em;
}

#navBarItem a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

/* Breakpoint, switch to mobile view */
@media only screen and (max-width: 999px){
    .listOfDirectors {
        grid-template-columns: repeat(2, 1fr);
    }

    #navBarItem {
        transform: translateX(50px);
        transition: transform 0.5s, opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .navBarButton {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
      }

      .navBarBurger {
        width: 50px;
        height: 6px;
        background: #ffffff;
        border-radius: 5px;
        transition: all 0.25s ease-in-out;
      }

      .navBarBurger::before,
      .navBarBurger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }

      .navBarBurger::before {
        transform: translateY(-16px);
      }

      .navBarBurger::after {
        transform: translateY(16px);
      }

      /* ANIMATION */
      .navBarButton.open .navBarBurger {
        background: transparent;
      }

      .navBarButton.open .navBarBurger::before {
        transform: rotate(-45deg);
      }

      .navBarButton.open .navBarBurger::after {
        transform: rotate(45deg);
      }
}